<%= htmlWebpackPlugin.options.header %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no"
    />
  </head>

  <body>
    <div id="wrapper">
      <img class="circle" src="assets/images/circle.svg" alt="website logo" />
      <h1>
        HNI Cover Boilerplate
      </h1>
    </div>
  </body>
</html>
